.playerBoxWrapper {
  padding: 2px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.playerBox {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.wrapperBorder {
  background: #e36526;
  width: 210px;
  height: 159px;
  clip-path: polygon(0 0, 100% 6%, 95% 67%, 8% 74%);
  padding: 5px;
}

.wrapper {
  background: #ffffff;
  width: 200px;
  height: 146px;
  -webkit-clip-path: polygon(0 0, 97% 1%, 100% 68%, 5% 76%);
  clip-path: polygon(0 0, 100% 6%, 95% 67%, 8% 74%);
}
.playButton {
  background: #fff;
  top: 44px;
  left: 120px;
  position: absolute;
}
 
.playButton:focus {
  outline: none;
}
.box {
  width: 34rem;
  height: 20rem;
  background-color: #b8babd;
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  transition: 0.3s;
  box-shadow: 2rem 0 5rem #5558, 0 2rem 6rem #5558;
  z-index: 0;
}

.box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2rem;
  background: #a3a3ac88;
  left: 0;
  bottom: 0;
}
.box::after {
  position: absolute;
  content: "";
  height: 90%;
  width: 1.5rem;
  background: #a3a3ac88;
  right: 0;
  top: 0;
  z-index: 1;
}
.boxHandle {
  position: absolute;
  width: 90%;
  height: 2rem;
  top: -6rem;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to bottom, #c1c1c1 40%, #fff, #c1c1c1);
  z-index: 2;
  border: 1px solid #9995;
}
.boxHandlePole_leftPole {
  position: absolute;
  width: 1.4rem;
  height: 6rem;
  background: linear-gradient(to right, #c1c1c1, #fff, #c1c1c1);
  z-index: -1;
  left: 7%;
  top: -6rem;
}
.boxHandlePole_rightPole {
  position: absolute;
  width: 1.4rem;
  height: 6rem;
  background: linear-gradient(to right, #c1c1c1, #fff, #c1c1c1);
  right: 7%;
  z-index: -1;
  top: -6rem;
}
.boxTop {
  position: relative;
  width: 100%;
  height: 2.5rem;
  z-index: 11;
  top: 0.6rem;
}
.boxMiddle {
  height: 100%;
  width: 10rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  /* background-color: #f1cef4; */
}
.tuner {
  width: 70%;
  height: 2.5rem;
  background: linear-gradient(
    90deg,
    #faebd7 20%,
    #000 2px,
    #faebd7 21%,
    #faebd7 23%,
    #000 2px,
    #faebd7 24%,
    #faebd7 27%,
    #000 2px,
    #faebd7 28%,
    #faebd7 30%,
    #000 2px,
    #faebd7 31%,
    #faebd7 33%,
    #000 2px,
    #faebd7 34%,
    #faebd7 36%,
    #000 2px,
    #faebd7 37%,
    #faebd7 39%,
    #000 2px,
    #faebd7 40%,
    #faebd7 42%,
    #000 2px,
    #faebd7 43%,
    #faebd7 45%,
    #000 2px,
    #faebd7 46%,
    #faebd7 48%,
    #000 2px,
    #faebd7 47%,
    #faebd7 49%,
    #000 2px,
    #faebd7 50%,
    #faebd7 52%,
    #000 2px,
    #faebd7 53%,
    #faebd7 55%,
    #000 2px,
    #faebd7 56%,
    #faebd7 58%,
    #000 2px,
    #faebd7 59%,
    #faebd7 61%,
    #000 2px,
    #faebd7 62%,
    #faebd7 64%,
    #000 2px,
    #faebd7 65%,
    #faebd7 67%,
    #000 2px,
    #faebd7 68%,
    #faebd7 70%,
    #000 2px,
    #faebd7 71%,
    #faebd7 73%,
    #000 2px,
    #faebd7 74%,
    #faebd7 76%,
    #000 2px,
    #faebd7 77%,
    #faebd7 79%,
    #000 2px,
    #faebd7 80%,
    #faebd7 82%,
    #000 2px,
    #faebd7 83%
  );
  border-radius: 0.1rem;
  position: absolute;
  left: 15%;
  top: 0;
  border: 1px solid #888;
}
.tuner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  background: #faebd7;
}
.tuner::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0.3rem;
  background: #f33;
  height: 70%;
  left: 40%;
  transform: translateX(-40%);
}
.tuner-line {
  position: absolute;
  background: linear-gradient(0deg, #555 50%, #0000 50%, #555 80%);
  width: 100%;
  height: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}
.tunerRoller {
  position: absolute;
  height: 4.5rem;
  width: 1.3rem;
  background-color: #444;
  left: -1.3rem;
  top: 25%;
  border-radius: 0.5rem 0 0 0.5rem;
  overflow: hidden;
}

.speaker {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #e36526;
  position: absolute;
  top: 22px;
  left: 30px;
  transition: 0.1s ease;
  border: 2px solid #d85f17;
  box-shadow: inset 2px -1rem 11rem #e36526d4, inset 1.6rem 0 0.8rem #e365268c,
    inset 0 -1.6rem 0.8rem #e36526, inset -1.6rem 0 0.8rem #e46527,
    0 0 0 0.25rem #292b2c;
  z-index: 5;
}

.speaker::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: radial-gradient(circle at center, #ddd, #2226);
}
.speaker:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    120deg,
    #fff 10%,
    #0000 10%,
    #0000 40%,
    #fff 40%,
    #0000 40%,
    #fff 45%,
    #0000 45%
  );
  background-size: 10px 8px;
  border-radius: inherit;
}
.rectBoxesContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 5;
  border-top: 0.2rem solid #ccc;
  /* padding: 1rem 0; */
  margin: 1rem 0;
}
.rectBox {
  display: inline-block;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 4rem;
  height: 2rem;
  background-color: #595959;
  border: 1.5px solid #aaa;
}
.middleRectBox {
  display: inline-block;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 4rem;
  height: 2rem;
  background-color: #595959;
  border: 1.5px solid #aaa;
  width: 6rem;
}

.cassetteBox {
  width: 10rem;
  height: 6.5rem;
  background: #d2d2d2;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  border: 2px solid #333;
  border-left: 1.5px solid;
  border-right: 1.5px solid;
  z-index: 2;
}
.cassetteBoxInner {
  position: absolute;
  width: 75%;
  height: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*   background:linear-gradient(120deg,#0008 40%, #fff 42%,#0008 44%,#fff 46%,#0008 48%,#fff 50%,#0008 52%,#fff 54%,#0008 56%, #0008 60%); */
  background: #0008;
  border-top: 2px solid #a52a2a;
  border-bottom: 2px solid #a52a2a;
}
.cassetteBoxInner::after {
  content: "";
  position: absolute;
  background-color: #fff3;
  width: 55%;
  height: 50%;
  top: 25%;
  left: 22%;
}
.cassetteBox::before,
.cassetteBox::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: radial-gradient(circle at center, #000, #d2d2d2, #fff);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.cassetteBox::before {
  left: 20%;
}
.cassetteBox::after {
  right: 20%;
}

.btnsContainer {
  bottom: 5%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.btns {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2rem;
  width: 1.3rem;
  display: inline-block;
  position: relative;
  background-color: #bbb;
  border: 0;
  box-shadow: 0 0.8rem 1rem #0005;
  cursor: pointer;
  transition: 0.2s;
  -webkit-tap-highlight-color: #fff0;
}
.btns:checked {
  box-shadow: 0 0.2rem 0.7rem #4448, 0 0 0 0.3rem #ccc;
  transition: 0.2s;
  outline: none;
}
#playPauseBtn::after {
  content: "";
  position: absolute;
  border: 0.5rem solid #0000;
  border-left-color: #000;
  bottom: 10%;
  left: 100%;
  transform: translate(-80%);
}
#stopBtn {
  background-color: #f33;
}
#stopBtn::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 40%;
  background-color: #000;
  bottom: 10%;
  left: 20%;
}
#prevBtn::after {
  content: "";
  position: absolute;
  border: 0.5rem solid #0000;
  border-right-color: #000;
  border-left: 0.2rem solid #000;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
#nextBtn::after {
  content: "";
  position: absolute;
  border: 0.5rem solid #0000;
  border-left-color: #000;
  border-right: 2px solid #000;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.btns::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #fff3;
  height: 50%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #9994;
}
.input {
  /* opacity: 0; */
}
