html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pop {
  animation: popSpeaker 1s linear infinite;
  transition: 0.1s ease;
}
@keyframes popSpeaker {
  0%{
    transform: scale(1); 
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

.carousel-banner .title, .carousel-banner .sub-title, .carousel-banner .btn-slide, .carousel-banner .list-social{
  opacity: 1 !important;
  z-index: 9 !important;
}
.slide-item{
  z-index: 5 !important;
}